<!-- <div class="card">
    <div class="card-body">
      <h5 class="card-title">Crear Rol</h5>
  
      <div class="mb-3">
        <label for="role_Nombre" class="form-label">Nombre del Rol</label>
        <input type="text" id="role_Nombre" class="form-control" [(ngModel)]="role_Nombre" />
      </div>
  
      <div class="mb-3">
        <label class="form-label">Seleccionar Pantallas</label>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let pantalla of pantallas">
            <input
              type="checkbox"
              [value]="pantalla.pant_Id"
              [checked]="pantallasSeleccionadas_Id.includes(pantalla.pant_Id)"
              (change)="toggleSeleccion(pantalla.pant_Id)"
            />
            {{ pantalla.pant_Nombre }}
          </li>
        </ul>
      </div>
  
      <button class="btn btn-primary" (click)="guardarRol()">Guardar Rol</button>
    </div>
  </div>
   -->

   <div class="container mt-4">
    <h2>Crear nuevo rol</h2>
  
    <form [formGroup]="rolForm" (ngSubmit)="guardarRol()">
      <div class="mb-3">
        <label for="role_Nombre" class="form-label">Nombre del Rol</label>
        <input id="role_Nombre" type="text" class="form-control" formControlName="role_Nombre">
        <div *ngIf="rolForm.get('role_Nombre')?.invalid && rolForm.get('role_Nombre')?.touched" class="text-danger">
          El nombre es requerido.
        </div>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Pantallas disponibles</label>
        <div *ngFor="let pantalla of pantallas" class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            [value]="pantalla.pant_Id"
            (change)="toggleSeleccion(pantalla.pant_Id)">
          <label class="form-check-label">{{ pantalla.pant_Nombre }}</label>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary"><i class="bi bi-clipboard2-check align-baseline me-1"></i> Guardar</button>
      <button type="button" class="btn btn-secondary ms-2" [routerLink]="['/acceso/roles/list']" class="bi bi-clipboard2-check align-baseline me-1">Cancelar</button>
    </form>
  </div>
  
