<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Detalles de Cliente" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="p-2">
                            <a  [routerLink]="['/general/clientes/list']" class="btn btn-secondary mb-3 custom-toggle float-end  btn-sm">
                                <i class="bi bi-arrow-left-circle me-1"></i> Regresar
                              </a>
                            <h2 >{{ cliente?.clie_Nombres }}</h2>
                            <div class="text-muted hstack gap-2 flex-wrap list-unstyled mb-4">
                                <div >
                                    <i class="bi bi-geo-alt align-baseline me-1 text-primary "></i> {{cliente.clie_Direccion}}, {{cliente.depa_Nombre}}, {{cliente.muni_Nombre}}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h6 class="card-title mb-3">Detalles del cliente</h6>
                            <div class="row g-3">
                                <div class="col-xl-6 col-sm-6">
                                    <div class="p-3 border border-dashed rounded card-uniform-height">
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="avatar-xs flex-shrink-0">
                                                <div class="avatar-title bg-success-subtle text-success fs-lg rounded">
                                                    <i class="ph ph-identification-card-bold"></i>
                                                </div>
                                            </div>
                                            <p class="fs-md mb-0">{{cliente.clie_Identidad}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-sm-6">
                                    <div class="p-3 border border-dashed rounded card-uniform-height">
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="avatar-xs flex-shrink-0">
                                                <div class="avatar-title bg-warning-subtle text-warning fs-lg rounded">
                                                    <i class="ph ph-user-bold"></i>
                                                </div>
                                            </div>
                                            <p class="fs-md mb-0">{{cliente.clie_Nombres}} {{cliente.clie_Apellidos}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-sm-6">
                                    <div class="p-3 border border-dashed rounded card-uniform-height">
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="avatar-xs flex-shrink-0">
                                                <div class="avatar-title bg-danger-subtle text-danger fs-lg rounded">
                                                    <i class="ph ph-heart-bold"></i>
                                                </div>
                                            </div>
                                            <p class="fs-md mb-0">{{cliente.esCi_Nombre}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Sexo del cliente -->
                                <div class="col-xl-6 col-sm-6">
                                    <div class="p-3 border border-dashed rounded card-uniform-height">
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="avatar-xs flex-shrink-0">
                                                <div class="avatar-title bg-danger-subtle text-danger fs-lg rounded">
                                                    <i class="ph ph-user-bold"></i>
                                                </div>
                                            </div>
                                            <p class="fs-md mb-0">
                                                {{ cliente.clie_Sexo === 'M' ? 'Masculino' : 'Femenino' }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-xl-6 col-sm-6">
                                    <div class="p-3 border border-dashed rounded card-uniform-height">
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="avatar-xs flex-shrink-0">
                                                <div class="avatar-title bg-danger-subtle text-danger fs-lg rounded">
                                                    <i class="ph ph-calendar-blank-bold"></i>
                                                </div>
                                            </div>
                                            <p class="fs-md mb-0">{{cliente.clie_FechaNacimiento}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-sm-6">
                                    <div class="p-3 border border-dashed rounded card-uniform-height">
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="avatar-xs flex-shrink-0">
                                                <div class="avatar-title bg-secondary-subtle text-secondary fs-lg rounded">
                                                    <i class="ph ph-map-pin-bold"></i>
                                                </div>
                                            </div>
                                            <p class="fs-md mb-0">{{cliente.muni_Nombre}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Teléfono del cliente -->
                                <div class="col-xl-6 col-sm-6">
                                    <div class="p-3 border border-dashed rounded card-uniform-height">
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="avatar-xs flex-shrink-0">
                                                <div class="avatar-title bg-primary-subtle text-primary fs-lg rounded">
                                                    <i class="ph ph-phone-call-bold"></i>
                                                </div>
                                            </div>
                                            <p class="fs-md mb-0">
                                                {{cliente.clie_Telefono}}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
 
                    </div>
                    <div class="col-xl-4">
                        <!-- Swiper -->
                        <ngx-slick-carousel class="carousel" [config]="slidesConfig" #slickModal class="swiper property-slider mb-3">
                            <div ngxSlickItem class="swiper-slide" style="max-height: 50vh;">
                            <div class="position-relative ribbon-box" style="overflow: hidden; height: 100%;">
                                <div class="ribbon ribbon-primary fw-medium rounded-end mt-2">Vista</div>
                                <img [src]="'https://localhost:7091/images/clientes/'+ cliente.clie_Imagen" alt="Imagen del cliente" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;" />
                            </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                    
                </div>
                

                

                

                
            </div>
        </div>
        
    </div><!--end col-->
    
</div><!--end row-->

<div class="email-chat-detail" id="emailchat-detailElem">
    <div class="card mb-0 overflow-hidden">
        <div class="card-header align-items-center d-flex bg-primary-subtle text-primary p-3">
            <div class="flex-grow-1">
                <h5 class="fs-md text-primary-emphasis profile-username">Morton Satterfield</h5>
                <p class="mb-0 fs-sm lh-1">Active</p>
            </div>
            <div class="flex-shrink-0">
                <div class="mt-n1">
                    <button type="button" class="btn btn-link btn-icon btn-sm text-primary fs-lg text-decoration-none rounded-circle bg-primary-subtle bg-opacity-10"  id="emailchat-btn-close"><i class="ri-close-fill"></i></button>
                </div>
            </div>
        </div><!-- end card header -->
    </div>
</div>
<!-- end email chat detail -->

<style>
    .card-uniform-height {
    min-height: 60px; /* Ajusta este valor según lo que necesites */
}
</style>
