<!-- Start Breadcrumbs 
<app-breadcrumbs title="Detalles de restaurante" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
End Breadcrumbs 

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="p-2">
                            <a  [routerLink]="['/vuelo/vuelos/list']" class="btn btn-secondary mb-3 custom-toggle float-end  btn-sm">
                                <i class="bi bi-arrow-left-circle me-1"></i> Regresar
                              </a>
                            <h2 >{{ vuelo?.vuel_Nombre }}</h2>

                           

                            <div class="row g-3">
                                <div class="col-md-6">
                                  <div class="card border-start border-primary border-3 shadow-sm">
                                    <div class="card-body">
                                      <h6 class="text-primary fw-bold mb-2">
                                        <i class="bi bi-airplane-engines-fill me-2"></i>Salida
                                      </h6>
                                      <p class="mb-1"><strong>Desde:</strong> {{ vuelo.aerpSalida_Nombre }}</p>
                                      <p class="mb-1"><strong>Fecha:</strong> {{ vuelo.vuel_FechaPartida | date:'fullDate' }}</p>
                                      <p class="mb-0"><strong>Hora:</strong> {{ vuelo.vuel_FechaPartida | date:'HH:mm' }}</p>
                                    </div>
                                  </div>
                                </div>
                              
                                <div class="col-md-6">
                                  <div class="card border-start border-success border-3 shadow-sm">
                                    <div class="card-body">
                                      <h6 class="text-success fw-bold mb-2">
                                        <i class="bi bi-airplane-engines me-2"></i>Llegada
                                      </h6>
                                      <p class="mb-1"><strong>Destino:</strong> {{ vuelo.aerpLlegada_Nombre }}</p>
                                      <p class="mb-1"><strong>Fecha:</strong> {{ vuelo.vuel_FechaLlegada | date:'fullDate' }}</p>
                                      <p class="mb-0"><strong>Hora:</strong> {{ vuelo.vuel_FechaLlegada | date:'HH:mm' }}</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            
                            <p class="text-muted mb-4 fs-6">{{vuelo.vuel_Descripcion}}</p>
                        </div>

                        <div class="mb-3 p-3 bg-light rounded shadow-sm">
                            <h3 class="card-title mb-4">Servicios que ofrece el vuelo:</h3>
                            <ul class="list-unstyled d-flex flex-wrap gap-2">
                              <li *ngFor="let servicio of servicios"
                                  class="badge bg-primary-subtle text-primary px-3 py-2 rounded-pill d-flex align-items-center fs-6">
                                <i class="bi bi-check-circle-fill me-2 fs-5"></i> {{ servicio.serv_Descripcion }}
                              </li>
                            </ul>
                        </div>

                        
                    </div>
                    <div class="col-xl-7">
                         Swiper 
                        <ngx-slick-carousel class="carousel" [config]="slidesConfig" #slickModal class="swiper property-slider mb-3">
                            <div ngxSlickItem class="swiper-slide" style="max-height: 50vh;"*ngFor="let imagen of imagenes">
                            <div class="position-relative ribbon-box" style="overflow: hidden; height: 100%;">
                                <div class="ribbon ribbon-primary fw-medium rounded-end mt-2">Vista</div>
                                <img [src]="'https://localhost:7091/images/vuelos/'+ imagen.imAv_ImagenURL" alt="Imagen del restaurante" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;" />
                            </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                    
                </div>
                

                

                <div class="mb-3">
                    <h6 class="card-title mb-3">Detalles del restaurante</h6>
                    <div class="row g-3">
                        <div class="col-xl-3 col-sm-6">
                            <div class="p-3 border border-dashed rounded">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="avatar-xs flex-shrink-0">
                                        <div class="avatar-title bg-success-subtle text-success fs-lg rounded">
                                            <i class="ph ph-money-bold"></i>
                                        </div>
                                    </div>
                                    <p class="fs-md mb-0">Precio: L. {{vuelo.vuel_Precio}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="p-3 border border-dashed rounded">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="avatar-xs flex-shrink-0">
                                        <div class="avatar-title bg-warning-subtle text-warning fs-lg rounded">
                                            <i class="ph ph-star-bold"></i>
                                        </div>
                                    </div>
                                    <p class="fs-md mb-0">Aerolinea: {{vuelo.aerl_Nombre}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="p-3 border border-dashed rounded">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="avatar-xs flex-shrink-0">
                                        <div class="avatar-title bg-danger-subtle text-danger fs-lg rounded">
                                            <i class="ph ph-fork-knife-bold"></i>
                                        </div>
                                    </div>
                                    <p class="fs-md mb-0">Modelo del avion:{{vuelo.avio_Modelo}}</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                
            </div>
        </div>
        
    </div>end col
    
</div>

<div class="email-chat-detail" id="emailchat-detailElem">
    <div class="card mb-0 overflow-hidden">
        <div class="card-header align-items-center d-flex bg-primary-subtle text-primary p-3">
            <div class="flex-grow-1">
                <h5 class="fs-md text-primary-emphasis profile-username">Morton Satterfield</h5>
                <p class="mb-0 fs-sm lh-1">Active</p>
            </div>
            <div class="flex-shrink-0">
                <div class="mt-n1">
                    <button type="button" class="btn btn-link btn-icon btn-sm text-primary fs-lg text-decoration-none rounded-circle bg-primary-subtle bg-opacity-10"  id="emailchat-btn-close"><i class="ri-close-fill"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
-->