

<div class="row">
    
    <div class="col-lg">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center gy-3">
                    <div class="col-3">
                        <h6 class="card-title mb-0">Paquete<span class="badge bg-secondary-subtle text-secondary align-baseline ms-1">241</span></h6>
                    </div><!--end col-->
                    <div class="col-auto ms-auto">
                        <a href="/paquete/paquetes/create" class="btn btn-secondary me-1"><i class="bi bi-house align-baseline me-1"></i> Agregar paquete</a>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>

        <div class="row" id="property-list">
            @for (data of Paquete; track $index) {
            <div class="col-xxl-3 col-lg-4 col-md-6">
                <div class="card real-estate-grid-widgets card-animate">
                    <div class="card-body p-2">
                        <img [src]="data.imagenUrl" alt="img-01.jpg" class="rounded w-100 object-fit-cover" style="height: 180px">
                        <button type="button" class="btn btn-subtle-warning custom-toggle btn-icon btn-sm" [ngClass]="data.starred == true?'active':''">
                            <span class="icon-on"><i class="bi bi-star"></i></span> <span class="icon-off"><i class="bi bi-star-fill"></i></span>
                        </button>
                        <div dropdown class="dropdown dropdown-real-estate">
                            <button dropdownToggle class="btn btn-light btn-icon btn-sm" type="button"> <i class="bi bi-three-dots-vertical"></i> </button>
                            <ul *bsDropdownMenu class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item edit-list" href="javascript:void(0);" ><i class="bi bi-pencil-square me-1 align-baseline"></i>
                                        Editar</a></li>
                                <li><a class="dropdown-item remove-list"  (click)="eliminarPaquete(data.paqt_Id)" href="javascript:void(0);"><i class="bi bi-trash3 me-1 align-baseline"></i>
                                        Eliminar</a></li>
                            </ul> 
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <p class="text-muted float-end mb-0"><i class="bi bi-star text-warning align-baseline me-1"></i>
                            {{data.rating}}</p> 
                            <span *ngIf="data.vuel_Id != null" class="badge bg-danger text-white fs-xxs mb-3 mx-1">
                                <i class="ri ri-flight-takeoff-line align-baseline me-1"></i>Vuelo
                            </span> 
                            <span *ngIf="data.habi_Id != null" class="badge bg-warning text-white fs-xxs mb-3 mx-1">
                                <i class="ri ri-hotel-bed-fill align-baseline me-1"></i>Habitacion
                            </span> 
                            <span *ngIf="data.rest_Id != null" class="badge bg-info text-white fs-xxs mb-3 mx-1">
                                <i class="ri ri-restaurant-fill  align-baseline me-1"></i>Restaurante
                            </span> 
                            <a routerLink="/real-estate/property-overview">
                            <h6 name="rest_Nombre" class="fs-lg text-capitalize text-truncate">{{data.paqt_Nombre}}</h6>
                        </a>
                        <p class="text-muted mb-0">
                            <i class="bi bi-people-fill align-baseline text-primary me-1"></i>
                            <span class="badge bg-primary-subtle text-primary fw-semibold px-3 py-2 rounded-pill">
                              Para {{ data.paqt_CantidadPersonas }} persona{{ data.paqt_CantidadPersonas > 1 ? 's' : '' }}
                            </span>
                          </p>
                        
                        <div class="border-top border-dashed mt-3 pt-3 d-flex align-items-center justify-content-between gap-3">
                            <h5 class="mb-0">L.{{data.paqt_PrecioPorPersona}}/persona</h5> <a [routerLink]="['/paquete/paquetes/details', data.paqt_Id]" class="link-effect">Ver mas<i class="bi bi-chevron-right align-baseline ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div><!--end row-->

        <div id="elmLoader">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div class="row align-items-center mb-4 justify-content-between text-center text-sm-start" id="pagination-element">
            <div class="col-sm">
                <div class="text-muted">
                    Showing <span class="fw-semibold">8</span> of <span class="fw-semibold">43</span> Results
                </div>
            </div>
            <!-- <div class="col-sm-auto  mt-3 mt-sm-0" id="pagination-element">
                <pagination class="pagination-block pagination pagination-separated justify-content-center justify-content-sm-end mb-sm-0" [totalItems]="productslist?.length" [itemsPerPage]="8" (pageChanged)="pageChanged($event)">
                </pagination>
            </div> -->
        </div>

        <div id="noresult" style="display: none;">
            <div class="text-center py-4">
                <div class="avatar-md mx-auto mb-4">
                    <div class="avatar-title bg-light text-primary rounded-circle fs-4xl">
                        <i class="bi bi-search"></i>
                    </div>
                </div>
                <h5 class="mt-2">Sorry! No Result Found</h5>
            </div>
        </div>
    </div>
</div>




<!-- <div bsModal #addProperty="bs-modal" class="modal fade" id="addProperty">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPropertyModalLabel">Add Property list</h5>
                <button type="button" class="btn-close" (click)="addProperty.hide()"></button>
            </div>

            <form (ngSubmit)="saveProperty()" [formGroup]="propertyForm" class="tablelist-form" novalidate autocomplete="off">
                <div class="modal-body">
                    <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
                    <input type="hidden" id="id-field">

                    <div class="mb-3">
                        <label class="form-label">Property Images<span class="text-danger">*</span></label>
                        <dropzone class="dropzone" [config]="dropzoneConfig" [message]="'Drop files here or click to upload.'" (success)="onUploadSuccess($event)"></dropzone>
                        @if (uploadedFiles) {
                        <ul class="list-unstyled mb-0" id="dropzone-preview">
                            @for (file of uploadedFiles; track $index) {
                            <li class="mt-2" id="dropzone-preview-list">
                                <div class="border rounded">
                                    <div class="d-flex flex-wrap gap-2 p-2">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm bg-light rounded p-2">
                                                @if (file.dataURL) {
                                                <img class="img-fluid rounded d-block" [src]="file.dataURL" alt="Dropzone-Image" />
                                                }@else {
                                                <img class="img-fluid rounded d-block" [src]="file" alt="Dropzone-Image" />
                                                }
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div class="pt-1">
                                                @if (file.name) { <h5 class="fs-md mb-1">{{ file.name }}</h5>}
                                                @if (file.size) {<p class="fs-sm text-muted mb-0">{{ file.size }}</p>}
                                            </div>
                                        </div>
                                        <div class="flex-shrink-0 ms-3">
                                            <button (click)="removeFile(file)" class="btn btn-sm btn-danger">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                        </ul>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="property-title-input" class="form-label">Property title<span class="text-danger">*</span></label>
                        <input type="text" id="property-title-input" formControlName="title" class="form-control" placeholder="Enter Property title" required>
                    </div>


                    <div class="mb-3">
                        <label for="property-type-input" class="form-label">Property Type<span class="text-danger">*</span></label>

                        <select class="form-select" id="property-type-input" formControlName="type">
                            <option value="">Select Property Type</option>
                            <option value="Villa">Villa</option>
                            <option value="Residency">Residency</option>
                            <option value="Apartment">Apartment</option>
                            <option value="Others">Other</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="bedroom-input" class="form-label">Bedroom<span class="text-danger">*</span></label>
                                <input type="number" id="bedroom-input" class="form-control" formControlName="bedroom" placeholder="Enter Bedroom" required>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="bathroom-input" class="form-label">Bathroom<span class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="bathroom-input" formControlName="bathroom" placeholder="Enter Bathroom" required>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="sqft-input" class="form-label">SQFT<span class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="sqft-input" placeholder="Enter sqft" formControlName="area" required>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="property-price-input" class="form-label">Price<span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input type="number" class="form-control" id="property-price-input" formControlName="price" placeholder="Enter price" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="agent-name-input" class="form-label">Agent Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="agent-name-input" formControlName="agent" placeholder="Enter Agent Name " required>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="requirement-input" class="form-label">Requirement<span class="text-danger">*</span></label>

                                <select class="form-select" id="requirement-input" formControlName="requirement">
                                    <option value="">Requirement Type</option>
                                    <option value="Sale">Sale</option>
                                    <option value="Rent">Rent</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="addressLine-input" class="form-label">Sort Address<span class="text-danger">*</span></label>
                                <textarea class="form-control" id="addressLine-input" rows="3" formControlName="location" placeholder="Enter sort address" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-ghost-danger" (click)="addProperty.hide()"><i class="bi bi-x-lg align-baseline me-1"></i> Close</button>
                        <button type="submit" class="btn btn-primary" id="add-btn">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->








<!-- <div bsModal #deleteRecordModal="bs-modal" id="deleteRecordModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="deleteRecordModal.hide()"></button>
            </div>
            <div class="modal-body p-md-5">
                <div class="text-center">
                    <div class="text-danger">
                        <i class="bi bi-trash display-5"></i>
                    </div>
                    <div class="mt-4">
                        <h4 class="mb-2">Are you sure ?</h4>
                        <p class="text-muted mx-3 mb-0">Are you sure you want to remove this record ?</p>
                    </div>
                </div>
                <div class="d-flex gap-2 justify-content-center mt-4 pt-2 mb-2">
                    <button type="button" class="btn w-sm btn-light btn-hover" (click)="deleteRecordModal.hide()">Close</button>
                    <button type="button" class="btn w-sm btn-danger btn-hover" id="remove-element" (click)="confirmDelete()">Yes, Delete
                        It!</button>
                </div>
            </div>
        </div>
    </div>
</div> -->